<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Cheng Lou</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>Bootstrap Everywhere</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.chenglou.bootstrap-everywhere</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>bootstrapEverywhere</string>
				<key>Identifier</key>
				<string>bootstrapEverywhere</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Label</key>
				<string>Bootstrap Everywhere</string>
				<key>Palette Label</key>
				<string>BootstrapEverywhere</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injectCSS.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>One click to apply the current page with Bootstrap.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.github.com/chenglou/bootstrap-everywhere/master/version.plist</string>
	<key>Website</key>
	<string></string>
</dict>
</plist>
